.workspace__left {
    // flex-grow: 0.8;
    width: 5%;
    background-color: #22282d;
    min-width: 70px;
    &__icon {
        margin-top: 60px;
        height: 40px;
        a {
            svg {
                display: block;
                margin: 0 auto;
                height: 40px;
            }
            display: block;
            margin: 0 auto;
        }
    }
}

